@media (min-width: 992px) {
    i.icon.searchicon {
        font-size: 20px !important;
    }
}

@media (min-width:1200px) {
    img.logo2 {
        width: 130px;
    }
}

.dropdownli {
    font-weight: 600;

    >li {
        &:hover {
            color: gray;
        }
    }

}

.subbutton {
    background-color: #ffcc00;
    position: relative;
    transition: 0.4s;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: black;
        transition: 0.4s;
        z-index: -1;
    }

    &:hover {
        color: white !important;

        &::after {
            width: 100%;
        }
    }
}

.logo1 {
    width: 90px;
}

.list {
    font-weight: 500;
}

.imgsize {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.imgsize2 {
    width: 240px;
    height: 181px;
    object-fit: cover;
}

.textbreaker {
    width: 220px;
}

body {
    overflow-x: hidden;
}

/*==================#1 HEADER STYLE ==================*/
/*====================================================*/
header {

    >div {
        >nav {
            >div {
                &:nth-of-type(2) {
                    >ul {
                        >li {
                            position: relative;
                            padding: 0px 15px;
                            border-bottom: 4px solid transparent;

                            >a {
                                display: flex;
                                align-items: center;
                                height: 100%;
                            }

                            /* dropdown */
                            >div {
                                border-top: 1px solid gray;
                                top: 106%;
                                left: -150px;
                                position: absolute;
                                width: 100vw;
                                height: auto;
                                display: block;
                                opacity: 0;
                                visibility: hidden;
                                background-color: white;
                                z-index: 50;

                                >div {
                                    display: flex;
                                    width: 100%;
                                    max-width: 1320px;
                                    margin: 0 auto;
                                    padding: 0;
                                    position: relative;

                                    >div {
                                        display: flex;
                                        flex-wrap: wrap;

                                        /* left */
                                        &:first-of-type {
                                            background-color: white;
                                        }

                                        /* right */
                                        &:last-of-type {
                                            background-color: #edeef0;

                                            >div {
                                                display: flex;
                                                flex-wrap: wrap;

                                                &:first-of-type {

                                                    >figure {

                                                        &:hover {
                                                            >figcaption {
                                                                text-decoration: underline;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        right: 100%;
                                        width: 100vw;
                                        height: 100%;
                                        background-color: white;
                                        z-index: 2;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 100%;
                                        width: 100vw;
                                        height: 100%;
                                        background-color: #edeef0;
                                        z-index: 2;
                                    }

                                }



                            }

                            &:nth-of-type(2) {

                                >div {
                                    left: -217px;
                                }
                            }

                            &:nth-of-type(3) {

                                >div {
                                    left: -359px;
                                }
                            }

                            &:nth-of-type(4) {

                                >div {
                                    left: -417px;
                                }
                            }

                            &:nth-of-type(5) {

                                >div {
                                    left: -480px;
                                }
                            }

                            &:hover {
                                border-bottom: 4px solid #ffcc00;


                                >div {
                                    opacity: 1;
                                    visibility: visible;
                                }


                            }
                        }
                    }
                }
            }
        }
    }
}

/*==================#2 CONTENT STYLE ==================*/
/*=====================================================*/
main {

    >section {
        >div {

            >div {

                /* left column */
                &:first-of-type {}

                /* right column */
                &:nth-of-type(2) {
                    justify-content: space-between;

                    >figure {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;

                        >img {
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: 0.4s;
                        }

                        >figcaption {
                            width: 100%;
                            position: absolute;
                            bottom: 10px;
                            left: 0;
                            color: white;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: start;
                            text-transform: capitalize;
                            padding: 5px 15px;

                            >span {
                                font-size: 14px;
                                width: 100%;
                            }

                            >p {
                                width: 100%;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 1.2;
                            }

                            >a {
                                text-decoration: none;

                                >i {
                                    margin-right: 5px;
                                }
                            }

                        }

                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            >img {
                                width: 100%;
                                height: 60%;
                                object-fit: cover;
                                transition: 0.4s;
                            }

                            >figcaption {
                                height: 40%;
                                position: unset;
                                background-color: white;
                                color: black;

                            }
                        }

                        &:first-of-type {
                            &:hover {
                                >img {
                                    scale: 1.05;
                                }
                            }
                        }
                    }
                }

                /* left column in PHONE */
                &:first-of-type,
                &:nth-of-type(3) {
                    padding: 0 15px;
                    color: white;
                    row-gap: 20px;
                    margin-bottom: 100px;
                    flex-wrap: wrap;

                    >h2 {
                        font-size: 32px;
                        text-transform: capitalize;
                        width: 100%;
                        border-left: 2px solid #ffcc00;
                        padding-left: 5px;
                    }

                    >a {
                        text-decoration: none;
                        text-underline-offset: 8px;

                        >figure {
                            gap: 10px;
                            align-items: center;

                            >img {
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                            }
                        }

                        &:last-of-type {

                            width: fit-content;
                            text-transform: capitalize;
                            text-decoration: none;
                            position: relative;
                            z-index: 2;
                            transition: 0.4s;

                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                width: 100%;
                                height: 2px;
                                left: 0;
                                background-color: #ffcc00;
                                transition: 0.4s;
                                transform-origin: bottom;
                                z-index: -1;
                            }

                            &:hover {
                                color: black;

                                &::after {
                                    transform: scaleY(15);
                                }
                            }
                        }

                        &:hover {
                            >figure {
                                >figcaption {
                                    >p {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}